{
"require": [
      "@babel/register"
    ],
    "extension": [".vue"],
    "include": [
      "src/**/*.vue",
      "src/**/*.js"
    ],
    "exclude": [
      "src/test/js/**/*.spec.js",
      "src/test/js/**/*.vue-spec.js",
      "dist",
      "target",
      "node_modules",
      "coverage",
      ".babelcache",
      "webpack.overrides.conf.js"
    ],
    "sourceMap": false,
    "instrument": false
  }
